{% verbatim %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="pull-left img-rounded img-responsive" src="{{ asset(('media/images/content/contact/contact.jpg') | imagine_filter('fourblock')) }}" alt="" />
            <span class="clearfix"></span>
            <br>
            <p>
                {% if is_mobile() %}
                    <a class="btn btn-primary" href="tel:{{ c33s_core_config.contact.phone|replace({' ': ''})}}" role="button"><i class="fa fa-phone"></i></abbr> anrufen &raquo;</a>
                {% endif %}
            </p>
        </div>
        <div class="col-md-6">
            <h3>{{ c33s_core_config.contact.company }}</h3>
            <h4>{{ macros.name() }}</h4>

            {{ macros.address() }}
 
        </div>
    </div>
</div>
<br>
{% endverbatim %}
