<!DOCTYPE html>
<html {% block html_attributes %}lang="{{ app.request.locale }}"{% endblock %}>
    <head>
        {% block head %}
            <title>{% block meta_title %}{{app_name_long}}{% endblock %}</title>
            
            <meta charset="{% block meta_charset %}utf-8{% endblock %}" />
            <meta http-equiv="Content-Type" content="{% block meta_content_type %}text/html;charset=utf-8{% endblock %}" />
            <meta name="description" content="{% block meta_description %}{{app_description}}{% endblock %}">
            <meta name="author" content="{% block meta_author %}{{app_author}}{% endblock %}">
            <meta name="robots" content="{% block meta_robots %}all{% endblock %}">
            <meta name="viewport" content="{% block meta_viewports %}width=device-width, initial-scale=1.0{% endblock %}" />
            <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
            {% block meta_extra %}{% endblock %}
            {% block stylesheets %}
                {#corebundlemain includes bootstrap!#}
                {#
                    '%kernel.root_dir%/../web/components/font-awesome/css/font-awesome.min.css'
                #}
                {% stylesheets filter='cssrewrite,lessphp' output='generated/css/corebundle.css' combine=true
                    '@c33sCoreBundle/Resources/non-public/less/corebundlemain.less'
                    '%kernel.root_dir%/../vendor/fortawesome/font-awesome/css/font-awesome.min.css'
                %}
                <link rel="stylesheet" href="{{ asset_url }}" />
                {% endstylesheets %}
                
                {#% stylesheets filter='cssrewrite,lessphp' output='css/backoffice/bootstrap.css' combine=true
                    '%kernel.root_dir%/../vendor/fortawesome/font-awesome/less/font-awesome.less'
                    '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less'
                    '%kernel.root_dir%/../vendor/twitter/bootstrap/less/responsive.less'
                    '@c33sCoreBundle/Resources/non-public/less/bootstrap.less'
                    'bundles/mylayout/css/jquery/themes/cupertino/jquery-ui-1.8.20.css'
                    '@MyLayoutBundle/Resources/non-public/less/global.less'
                    '@MyLayoutBundle/Resources/non-public/less/bootstrap_backoffice.less'
                    '%kernel.root_dir%/../vendor/twitter/bootstrap/less/responsive.less'
                    '%kernel.root_dir%/../vendor/cleonello/jqplot/jquery.jqplot.css'
                    '%kernel.root_dir%/../vendor/harvesthq/chosen/chosen/chosen.css'
                    '@MyLayoutBundle/Resources/non-public/less/global_after.less'
                    %#}

            {% endblock %}
            {% block head_icons %}
                <link rel="shortcut icon" type="image/x-icon" href="{% block head_favicon %}{{ asset('favicon.ico') }}{% endblock %}" />
                <link rel="apple-touch-icon" href="{% block head_apple_touch_icon %}{{ asset('apple-touch-icon.png') }}{% endblock %}">
            {% endblock %}
            {% block upper_javascripts %}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <noscript>
            {% block noscript %}
            {% endblock %}
            </noscript>
            
            {% block message %}
            {#% include 'messages.html.twig' with {'messages': messages }} %#}
            {% include 'c33sCoreBundle::messages.html.twig' %}
            {% endblock %}
            
            {% block header %}{% endblock %}
            {% block content_pre %}{% endblock %}
            {% block content %}{% endblock %}
            {% block content_post %}{% endblock %}
            
            {% block footer_pre %}<footer class="footer">{% endblock %}
            {% block footer %}
                    &copy; {% block footer_company %}{{app_name_long}}{% endblock %}{% block footer_predate %}{% endblock %}{{ "now"|date("Y") }}{% block footer_postdate %}{% endblock %}
            {% endblock %}
            {% block footer_post %}</footer>{% endblock %}
            
            {% block body_end %}{% endblock %}
        {% endblock %} {# body #}
        {% block javascripts %}
            {% if app_use_cdn %}
            {% else %}
            <script src="{{ asset('components/jquery/jquery.min.js') }}"></script>
            {% javascripts output='generated/js/bootstrap.js' combine=true 
                '@bootstrap_js'
                %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% endif %}
        {% endblock %}
    </body>
</html>
{#{ assets_add(assetic/foo.js, js) }#}