<!DOCTYPE html>
<html {% block html_attributes %}lang="{{ app.request.locale }}"{% endblock %} {% if c33s_core_config.app.hinclude %}xmlns:hx="http://purl.org/NET/hinclude"{% endif %}>
    <head>
        {% block head %}
            {% if c33s_core_config.app.hinclude %}
                {% javascripts output='generated/js/hinclude.js' combine=true
                    '%kernel.root_dir%/../vendor/mnot/hinclude/hinclude.js'
                    %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endif %}
            <title>{% block meta_title %}{{ c33s_core_config.page.title }}{% endblock %}</title>
            
            <meta charset="{% block meta_charset %}utf-8{% endblock %}" />
            <meta name="description" content="{% block meta_description %}{{ c33s_core_config.page.description }}{% endblock %}">
            <meta name="author" content="{% block meta_author %}{{ c33s_core_config.page.authors|join(', ') }}{% endblock %}">
            <meta name="robots" content="{% block meta_robots %}all{% endblock %}">
            <meta name="viewport" content="{% block meta_viewports %}width=device-width, initial-scale=1.0{% endblock %}" />
            <meta name="keywords" content="{% block meta_keywords %}{{ c33s_core_config.page.keywords|join(', ') }}{% endblock %}" />
            {% block meta_extra %}{% endblock %}
            {% block google_webmaster_tools %}
                {% include 'c33sCoreBundle::google-webmaster-tools.html.twig' %}
            {% endblock %}
            {% block stylesheets %}
                {% stylesheets filter='cssrewrite,lessphp' output='generated/css/corebundle.css' combine=true
                    '@c33sCoreBundle/Resources/non-public/less/corebundlemain.less'
                    '%kernel.root_dir%/../web/components/font-awesome/css/font-awesome.min.css'
                %}
                    <link rel="stylesheet" href="{{ asset_url }}" />
                {% endstylesheets %}
            {% endblock %}
            {% block head_icons %}
                <link rel="shortcut icon" type="image/x-icon" href="{% block head_favicon %}{{ asset('favicon.ico') }}{% endblock %}" />
                <link rel="apple-touch-icon" href="{% block head_apple_touch_icon %}{{ asset('apple-touch-icon.png') }}{% endblock %}" />
            {% endblock %}
            {% block upper_javascripts %}
                {% if c33s_core_config.app.use_cdn %}
                    <!--[if lt IE 9]>
                    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                    <![endif]-->
                {% else %}
                    <!--[if lt IE 9]>
                    {% javascripts output='generated/js/html5shiv.js' combine=true
                        '%kernel.root_dir%/../vendor/afarkas/html5shiv/src/html5shiv.js'
                    %}
                    <script src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                    <![endif]-->
                    <script src="{{ asset('components/jquery/jquery.min.js') }}"></script>
                {% endif %}
            {% endblock %}
            {% block google_analytics %}
                {% include 'c33sCoreBundle::google-analytics.html.twig' %}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <noscript>
            {% block noscript %}
            {% endblock %}
            </noscript>
            
            {% block message %}
            {#% include 'messages.html.twig' with {'messages': messages }} %#}
            {% include 'c33sCoreBundle::messages.html.twig' %}
            {% endblock %}
            
            {% block header %}{% endblock %}
            {% block content_pre %}{% endblock %}
            {% block content %}{% endblock %}
            {% block content_post %}{% endblock %}
            
            {% block footer_pre %}<footer class="footer">{% endblock %}
            {% block footer %}
                    &copy; {% block footer_company %}{{ c33s_core_config.app.name }}{% endblock %}{% block footer_predate %}{% endblock %}{{ "now"|date("Y") }}{% block footer_postdate %}{% endblock %}
            {% endblock %}
            {% block footer_post %}</footer>{% endblock %}
            
            {% block body_end %}{% endblock %}
        {% endblock %} {# body #}
        {% block javascripts %}
            {% if c33s_core_config.app.use_cdn %}
            {% else %}
            {% javascripts output='generated/js/bootstrap.js' combine=true
                '@bootstrap_js'
                %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% endif %}
        {% endblock %}
    </body>
</html>
{#{ assets_add(assetic/foo.js, js) }#}