{% verbatim %}
{% extends "{% endverbatim %}{{ name.camelcase }}{% verbatim %}WebpageBundle::baseWebpage.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img class="img-rounded-small" src="{{ asset(('media/images/logo.png') | imagine_filter('fourblock')) }}" alt="" />
        </div>
        <div class="col-md-offset-1 col-md-6">
            <p>
                Die von Ihnen aufgerufene Seite wurde leider nicht gefunden.
                Das kann vorkommen, wenn die Seite nicht mehr existiert, aktualisiert, verschoben
                wurde oder ein fehlerhafter Link auf die Seite verweist.
            </p>
            <p>
                Überprüfen Sie, ob Sie die URL richtig eingegeben haben oder
                klicken Sie in Ihrem Browser auf "Zurück".
            </p>

            <p>
                Über die <a href="{{ path('{% endverbatim %}{{ name|lower }}{% verbatim %}_{% endverbatim %}{{ bundlename | underscore }}{% verbatim %}_default_homepage') }}" >Startseite</a>
                erreichen Sie alle Inhalte unserer Webseite.
            </p>
            <p>
                Falls Sie über einen Seiteninternen Link auf diese Seite gekommen
                sind, bitte melden Sie uns den fehlerhaften Link per
                <ul>
                    <li><a href="mailto:{{ c33s_core_config.contact.mail|lower }}">{{ c33s_core_config.contact.mail|lower }}</a></li>
                    <li>{{ c33s_core_config.contact.phone }}</li>
                </ul>
            </p>

            <p>
                Vielen Dank für Ihr Verständnis.
            </p>
        </div>
    </div>
</div>
<br>
{% endblock %}
{% endverbatim %}
