{% verbatim %}
{% extends "c33sCoreBundle::base.html.twig" %}
{% import "{% endverbatim %}{{ name.camelcase }}{{ bundlename | camelcase }}{% verbatim %}Bundle::macros.html.twig" as macros %}

{% block head %}
    {{ parent() }}
{% endblock head %}
{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite,lessphp' output='media/generated/css/webpage.css' combine=true
        '@{% endverbatim %}{{ name.camelcase }}{{ bundlename | camelcase }}{% verbatim %}Bundle/Resources/non-public/less/webpage/webpage.less'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    
    {{ render_assets('css') }}

{# Font-Awesome 4+ does not support IE7 any more #}
{#     <!--[if IE 7]>#}
{#     <link href="css/font-awesome-ie7.css" rel="stylesheet">#}
{#     <![endif]-->#}

    <!--[if gte IE 9]>
    <style type="text/css">
    </style>
    <![endif]-->
{% endblock %}

{% block header %}
    <!-- header -->
    {% include '{% endverbatim %}{{ name.camelcase }}{{ bundlename | camelcase }}{% verbatim %}Bundle::menu.html.twig' %}
{% endblock %}

{% block content_pre %}
    
    {#
    {% if not app.request.cookies.has('accept-cookie') %}
    <div id="cookie-alert" class="alert alert-danger fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>Oh snap! You got an error!</h4>
        <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
        <p>
            <button type="button" class="btn btn-danger">Take this action</button>
            <button type="button" class="btn btn-default">Or do this</button>
        </p>
    </div>
    {% endif %}
    #}
    
    {% block content_pre_container %}{% endblock %}
    
    {# <div class="container"> #}
{% endblock %}

{% block content %}{% endblock %}

{% block content_post %}
    {# <br></div> <!-- end container --> #}
    
    {% block content_post_container %}
        <div id="toTop" class="text-right lead">
            {# <a href="#"><i class="fa fa-chevron-up"></i> to top</a> #}
            <a href="#"><i class="fa fa-angle-double-up"></i> to top</a>
            {#% if app_debug == true %#}
            {% if is_granted('ROLE_ADMIN') %}
            <span class="visible-xs">xs</span>
            <span class="visible-sm">sm</span>
            <span class="visible-md">md</span>
            <span class="visible-lg">lg</span>
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}

{% block footer %}{% include '{% endverbatim %}{{ name.camelcase }}{{ bundlename | camelcase }}{% verbatim %}Bundle::footer.html.twig'%}{% endblock %}

{% block upper_javascripts %}
    {% if c33s_core_config.app.use_cdn %}
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    {% else %}
        <!--[if lt IE 9]>
            <script src="{{ asset('media/components/html5shiv/dist/html5shiv.js') }}"></script>
        <![endif]-->
    {% endif %}
    <script src="{{ asset('media/components/jquery/jquery.min.js') }}"></script>
{% endblock %}

{% block javascripts %}
    <!-- scripts -->
    {{ parent() }}
    
    {% javascripts output='media/generated/js/webpage-app.js' combine=true
        '@{% endverbatim %}{{ name.camelcase }}{{ bundlename | camelcase }}{% verbatim %}Bundle/Resources/non-public/js/app.js'
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {#
       <script>
           //alert('binding');
           //$(".alert").alert()
           $(document).ready(function() {
               $('#cookie-alert').bind('closed.bs.alert', function () 
               {
                   $.cookie("accept-cookie", 1);
                   alert('dismissed');
               })
           });
       </script>
    #}
{% endblock %}
{% endverbatim %}